[versions]
collective.recipe.template = 1.10
django-appconf = 0.6
gunicorn = 18.0
zc.buildout = 2.2.1
zc.recipe.egg = 2.0.1

# Required by:
# django-postal==0.92
django-countries = 1.5

# Required by:
# django-postal==0.92
django-piston = 0.2.3

# Required by:
# django-appconf==0.6
six = 1.4.1

Unidecode = 0.04.14
django-facebook = 5.2.10
